<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ビデオの編集</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>ビデオの編集</h1>
    <form action="" method="POST">
      <p>ビデオの内容</p>
      <input type="text" name="content" value="<%= video.content %>">
      <p>画像のurl</p>
      <input type="text" name="image" value="<%= video.image %>">
      <p>ビデオのurl</p>
      <input type="text" name="url" value="<%= video.video_url %>">
      <input type="submit" value="更新">
    </form>
    <a href="/">トップ</a>
  </body>
</html>