<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>新規ビデオ投稿</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>新規投稿</h1>
    <form action="create" method="POST">
      <p>ビデオの内容</p>
      <input type="text" name="content">
      <p>画像のurl</p>
      <input type="text" name="image">
      <p>ビデオのurl</p>
      <input type="text" name="url">
      <input type="submit" value="作成">
    </form>
    <a href="/">トップ</a>
  </body>
</html>