block content
  h1 UFCの強豪選手たちのビデオ

  ul
    each video in videos
      li
        a(href=video.video_url) #{video.content}
        | (#{video.image})
        a(href=`update/${video.id}`) 編集
        |
        form(action=`delete/${video.id}` method='POST')
          input(type='submit' value='削除')

    else
      li There are no videos.